/* FAQ Section Styling */
.accordion-button {
  background-color: #fff;
  font-weight: bold;
  border-radius: 0.1rem;
  border: none;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(var(--primary-azure), 0.3);;
}

.accordion-body {
  border-top: none;
  border-radius: 0 0 5px 5px;
}
